.vl {
    border-left: 1px solid black;
    height: 120px;
}

.pdf-table .delete-icon{
    position: absolute;
    display: none;
}
.pdf-table tr:hover{
    background-color:rgba(0,0,0,.075)
}
.pdf-table tr:hover .delete-icon{
    cursor: pointer;
    display: block;
}
.patient-title{
    font-size: 30px !important;
}

#contact-button:focus { outline: none; }

#contact-button{ text-transform: none;}
.iconButton, .discount-button{
    padding: 0px !important;
}
.iconButton:focus{
    outline: none;
}
.discount-button:focus{
    outline: none;
}
.search-field{
    margin-top: 0 !important;
}
.search-button{
    height: 40px;
}
.search-button:focus{
    outline: none;
}
.search-button span{
    text-transform: none;
}
.gridContainer{
    margin-top: 0px !important;
}
.totalAmount{
    margin-left: 45px !important;
}

.addButton{
    float: left;
    min-width: 0px !important;
    width: 5px;
}
.addButton:focus{
    outline: none;
}
.capColor:input{
    width: 20px !important;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }
.amountTextfield input{
    height: 10px !important;
    width: 100px;
    padding-left: 7px;
}
.customSearch input{
    height: 10px !important;
    padding-left: 7px;
}

.rdrInputRanges{
    display: none;
}
.rdrDefinedRangesWrapper{
    z-index: 2;
    position: absolute;
}
.MuiPopover-paper{
    min-width: 0px !important;
}
.popover-layout{
    padding: 16px;
}
.pop-button{
    min-width: 10px !important;
    padding: 0px !important;
}
.pop-button:focus{
    outline: none;
}

.pop-button span{
    width: 15px !important;
}