.vl {
    border-left: 1px solid black;
    height: 120px;
}

.pdf-table .delete-icon{
    position: absolute;
    display: none;
}
.pdf-table tr:hover{
    background-color:rgba(0,0,0,.075)
}
.pdf-table tr:hover .delete-icon{
    cursor: pointer;
    display: block;
}
.patient-title{
    font-size: 30px !important;
}

#contact-button:focus { outline: none; }

.iconButton, .discount-button{
    padding: 0px !important;
}
.iconButton:focus{
    outline: none;
}
.discount-button:focus{
    outline: none;
}
.search-field{
    margin-top: 0 !important;
}
.search-button{
    height: 40px;
}
.search-button:focus{
    outline: none;
}